#root {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
  overflow-x: hidden; /* hide the horizontal overflow */
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.512);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495d65;
}

.page {
  background-color: #d5c9ae;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}
.page .page-wrapper {
  position: relative;
  bottom: 10px;
  width: 100%;
  overflow: hidden;
  display: block;
  top: 30px;
  display: flex;
  flex-flow: column;
}
.page .page-wrapper .page-title {
  position: relative;
  padding: 10px 0px 0px;
  width: 100%;
  text-align: center;
}
.page .page-wrapper .page-title h1 {
  font-size: 70px;
  margin: 0;
  line-height: 70px;
  font-family: "Lora", serif;
  font-weight: 600;
}
.page .page-wrapper .socials {
  display: inline-flex;
  position: relative;
  margin: 0;
  width: 100%;
}
.page .page-wrapper .socials ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.page .page-wrapper .socials ul li {
  background-color: #d5c9ae;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-inline: 12px;
  box-shadow: 2px 2px 10px 0.5px #a29082;
  transition: all 0.5s;
}
.page .page-wrapper .socials ul li:hover {
  transform: scale(1.2);
}
.page .page-wrapper .socials ul li:hover svg {
  color: black;
}
.page .page-wrapper .socials ul li svg {
  color: #3e332b;
  position: relative;
  font-size: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.page .page-wrapper .page-content {
  z-index: 10;
  position: relative;
  margin-top: 0px;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 40px;
}
.page svg.blobs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%) scale(0.9);
  opacity: 0.5;
  z-index: 0;
}
@media (max-width: 600px) {
  .page svg.blobs {
    transform: translate(-50%, -47%) scale(0.8);
  }
}

#post {
  min-height: 100%;
}
#post p {
  margin: 0;
}
#post .page-wrapper {
  align-items: center;
  overflow-y: scroll;
}
#post a {
  color: black;
}
#post h1 {
  font-size: 40px;
  z-index: 15;
}
@media (max-width: 500px) {
  #post h1 {
    font-size: 30px;
  }
}
#post .tags {
  width: -moz-min-content;
  width: min-content;
  z-index: 5;
  margin-bottom: 0px;
}
#post .tags .tag {
  margin-right: 25px;
}
#post .tags .tag:last-child {
  margin-right: 0;
}
#post .page-title {
  padding-top: 0;
}
#post svg.blobs {
  opacity: 0.9;
  transform: translate(-50%, -49.5%) scale(0.65, 0.13);
  stroke-width: 200px;
  z-index: 0;
}
#post svg.blobs path {
  z-index: 0;
}
#post .description {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  z-index: 5;
  text-align: center;
  padding-inline: 10px;
}
@media (max-width: 500px) {
  #post .description {
    margin-top: -5px;
    padding: 0;
  }
}
#post .image {
  margin: 30px 0;
  width: min(550px, 100% - 60px);
  height: auto;
  border-radius: 40px;
}
#post .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
#post .page-content {
  width: min(600px, 100% - 60px);
  font-family: "Nunito", sans-serif;
  padding-bottom: 40px;
  overflow-y: visible;
}
#post .page-content h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
#post .page-content p {
  font-size: 20px;
  padding: 5px 0 20px 0;
  font-weight: 300;
}
#post .page-content img, #post .page-content iframe {
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
#post .page-content img {
  height: auto !important;
}

#archive .sort-options {
  padding-top: 10px;
  height: 75px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#archive .sort-options #label {
  font-family: "Dongle", sans-serif;
  font-size: 30px;
}
#archive .sort-options .tag {
  cursor: pointer;
  display: inline-block;
  font-family: "Dongle", sans-serif;
  font-size: 23px;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 15px;
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  text-align: center;
  padding: 7.5px 13px;
  margin-inline: 7.5px;
}
@media (max-width: 500px) {
  #archive .sort-options .tag {
    font-size: 18px;
    padding: 5px 5px;
    margin-inline: 5px;
  }
}
#archive .sort-options .tag.inactive {
  opacity: 0.5;
}
#archive .sort-options .tag.inactive:hover {
  opacity: 0.75;
}
#archive .sort-options .tag.date {
  background-color: #a29082;
  border: #a29082 solid 3px;
}
#archive .sort-options .tag.type {
  background-color: #859d91;
  border: #859d91 solid 1px;
}
#archive .sort-options .tag.type.inactive, #archive .sort-options .tag.type.active:hover {
  text-decoration: line-through;
  text-decoration-color: #3e332b;
}
#archive .sort-options .tag.type.active:hover {
  opacity: 0.75;
}
#archive .sort-options .tag.type::before {
  content: "#";
}
#archive .sort-options svg {
  position: relative;
  transform: scale(3, 3);
  margin-right: 35px;
}
#archive .sort-options ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
#archive .sort-options ul li {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#archive .sort-options ul #divider {
  margin-inline: 7.5px;
  font-size: 30px;
}
#archive .posts-list {
  margin-top: 0px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hide;
  align-items: center;
  padding: 0;
}
#archive .posts-list a {
  width: min(80%, 800px);
  text-decoration: none;
  color: black;
  margin-top: 50px;
}
#archive .posts-list a:last-child {
  margin-bottom: 50px;
}
#archive .post-card {
  cursor: pointer;
  width: min(100%, 800px);
  display: grid;
  grid-template-columns: 150px 15px 1fr 5px;
  grid-template-rows: 1fr 1fr 1fr 5px;
  row-gap: 2.5px;
  grid-template-areas: "image . tags ." "image . title ." "image . description ." ". . . .";
  overflow: visible;
  border-radius: 20px;
  background-color: #d5c9ae;
  font-family: "Nunito", sans-serif;
  box-shadow: 2px 2px 20px 0.5px #3e332b;
}
@media (max-width: 500px) {
  #archive .post-card {
    grid-template-columns: 15px 1fr 15px;
    grid-template-rows: 5fr 50px 1fr 1fr 10px;
    row-gap: 2.5px;
    grid-template-areas: "image image image" ". tags ." ". title ." ". description ." ". . .";
    justify-content: center;
    overflow: hidden;
  }
}
#archive .post-card .cover-photo {
  position: relative;
  grid-area: image;
  border-radius: 10px;
  transform: translate(-15px, -15px);
  box-shadow: 2px 2px 10px 2px #3e332b;
}
@media (max-width: 500px) {
  #archive .post-card .cover-photo {
    transform: scale(0.9);
  }
}
#archive .post-card .cover-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
#archive .post-card h1 {
  font-family: "Lora", serif;
  grid-area: title;
  align-self: center;
  font-size: 30px;
  margin: 0;
  font-weight: 700;
}
@media (max-width: 400px) {
  #archive .post-card h1 {
    font-size: 25px;
    margin-top: 10px;
  }
}
#archive .post-card .description {
  grid-area: description;
  font-family: "Nunito", sans-serif;
  padding-right: 20px;
  margin: 5px 0 20px 0;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  #archive .post-card .description {
    justify-self: start;
    margin: 5px 0 20px 0;
    padding: 0;
    width: 100%;
  }
}

.tags {
  margin: 20px 0 0px 0;
  display: flex;
  flex-direction: row;
  grid-area: tags;
  cursor: default;
}
.tags .tag {
  display: inline-block;
  font-family: "Dongle", sans-serif;
  font-size: 23px;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 15px;
  width: -moz-min-content;
  width: min-content;
  height: -moz-min-content;
  height: min-content;
  text-align: center;
  padding: 7.5px 13px;
  margin-right: 15px;
}
.tags .tag#type {
  background-color: #859d91;
}
.tags .tag#type::before {
  content: "#";
}
.tags .tag#date {
  background-color: #a29082;
}

#about a {
  color: black;
}
#about .about-text {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  width: min(550px, 100% - 60px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 50px;
  font-family: "Dongle", sans-serif;
}
#about p {
  margin: 0;
  padding: 0;
}

.nav {
  position: relative;
  display: block;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-size: 30px;
  top: 15px;
  width: 100%;
  z-index: 1;
}
.nav .nav-group {
  display: inline-block;
  right: 30px;
  position: absolute;
}
.nav .nav-back {
  left: 30px;
  position: relative;
  color: black;
  text-decoration: none;
  margin-inline: 15px;
}
.nav .nav-back:hover {
  text-decoration: underline;
}
.nav .navlink {
  margin-inline: 15px;
  color: black;
  text-decoration: none;
}
.nav .navlink:hover {
  text-decoration: underline;
}

.button-wrapper {
  z-index: 10;
}

.openHeadButton {
  cursor: pointer;
  color: #3e332b;
  border-radius: 30px;
  z-index: 1;
  position: absolute;
  left: 49%;
  bottom: 15%;
  transform: translate(-50%, 0);
  padding: 10px;
  padding-inline: 20px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  white-space: nowrap;
  background-color: white;
  transform-style: preserve-3d;
  border: none;
  border: black 2px;
  border-style: groove;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.3);
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.openHeadButton::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: repeating-linear-gradient(45deg, transparent, transparent 1px, #000000 2px, #000000 4px);
  transform: translate3d(5px, 5px, -5px);
}
.openHeadButton:hover {
  background-color: black;
  color: white;
}
.openHeadButton:disabled {
  box-shadow: none;
  pointer-events: none;
}
.openHeadButton:disabled::before {
  transform: translate3d(0px, 0px, 0px);
  opacity: 0.1;
}
.openHeadButton:active {
  transform: translate(calc(-50% + 5px), 5px);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
}
.openHeadButton:active::before {
  transform: translate3d(0px, 0px, -5px);
}

@media (max-width: 450px) {
  .nav {
    font-size: 25px;
  }
  .nav .navlink {
    margin-inline: 7.5px;
  }
  .nav .nav-group {
    right: 20px;
  }
  .nav .nav-back {
    left: 20px;
    margin-inline: 7.5px;
  }
  .openHeadButton {
    font-size: 25px;
  }
  .openHeadButton::before {
    transform: translate3d(5px, 5px, -5px);
  }
}
.blobContainer {
  width: 85px;
  height: 85px;
  z-index: 0;
  cursor: pointer;
}
.blobContainer.recent {
  left: 0;
  top: 0;
  position: absolute;
}
.blobContainer.archive {
  left: 50px;
  top: 10px;
  position: absolute;
}

.blobInside {
  position: absolute;
}

.content-wrapper {
  width: 140px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 30px;
}

.contents {
  /* display: block; */
  position: absolute;
  text-align: center;
  max-width: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #3e332b;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
}
.contents .title {
  font-size: 15px;
  line-height: 12px;
  margin-bottom: 1px;
}
.contents .details {
  font-size: 9px;
}

.instructions {
  display: inline;
  font-family: "Shadows Into Light", cursive;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  color: #3e332b;
  text-align: center;
}
.instructions h2 {
  letter-spacing: 1.75px;
  text-align: center;
  font-size: 18px;
  margin: 0;
}
.instructions p {
  font-size: 10px;
  letter-spacing: 0.75px;
  margin: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 30px;
  color: black;
  font-family: "Dongle", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 18px;
}
.footer a {
  color: #5a5150;
}

.color {
  background-color: #F2E2C2, #c2e6f2, #C2EEF2, #E2DAF2, #F2DAE8;
}/*# sourceMappingURL=App.css.map */